* {box-sizing: border-box}
body {font-family: "Lato", sans-serif;
    background-color: lightgrey;
}

div{
	text-align:center;
    height:auto;
}

h4{
	text-align:center;
    border: 1px solid blue;
    max-width:100%;
    padding: 10px;
}

div#container{
    position:absolute;
}

div#idNav {
    border: 1px solid blue;
    float: left;
    width:25%;
    padding: 1em;
    background-color: grey;
    border-right:none;
    overflow: none;
   height:auto;
}


div#idContent {
    border: 1px solid blue;
    float: left;
    width:75%;
    padding: 1em;
    background-color: lightblue;
    border-left:none;
    overflow: none;
    height:auto;
}

p.weatherDay{
	float:left;
    border: 1px solid blue;
    background-color: lightgrey;
    width : 20%;
    max-width : 240px;
    min-width : 180px;
}

p.dayDate{
    text-align: center;
    border-top: 1px solid blue;
    border-bottom: 1px solid blue;
    background-color: lightblue;
    padding-top: 12px;
    padding-bottom: 12px;
}

p.weatherDayDesc{
    overflow: hidden;
}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  div#idNav, div#idContent {
    width:100%;
  }

  p.weatherDay{
      float: none;
      width: 100%;
      max-width : 400px;
    }
}


div ul {
    list-style-type: none;
    padding: 0;
}
   
div ul a {
    text-decoration: none;
    padding: 10px;
    color: white;
    background-color: lightgrey;
}


li a{
    display: block;
    text-align: center;
    text-decoration: none;
    font-size:20px;
}

li {
    display: block;
    text-decoration: none;
}

li a:hover{
   background-color: lightblue;
   color: blue;
}

li a.active{
   background-color: lightblue;
   color: black;
}

.closebtn {
    color: white;
    font-weight: bold;
    float: right;
    margin-top:10px;
    margin-right: 10px;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.closebtn:hover {
    font-size: 24px;
    color: black;
}

